@use "../../../styles/abstracts/variables" as *;
@use "../../../styles/abstracts/maps" as *;

@use '../../../styles/abstracts/functions' as *;




.ux-decision-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: $space-lg;

  background-color: white;
  width: 100%;
  padding: $space-xl;
  border-radius: $radius-md;
  box-shadow: $overlay-lg;


    &__badge {    
      min-width: 100px;
      min-height: 100px;
      border-radius: 50px;    
    }

    &__number {      
      font-size: 48px;
      font-weight: bold;
      text-align: center;
      line-height: 100px;
    }

    &__texts {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: $space-sm;    
    }

    &__rationale {
      max-width: 663px;
    }
}





@media (max-width: 904px) {
  .ux-decision-card {
    flex-direction: column;
    align-items: flex-start;

    padding: $space-md;

    &__badge {
      min-width: 80px;
      min-height: 80px;
      border-radius: 40px;    
    }

    &__number {      
      line-height: 80px;
    } 
  }
}