@use "../../styles/abstracts/variables" as *;
@use "../../styles/abstracts/functions" as *;

// Aplica un reset básico universal a todos los elementos y pseudoelementos
*, *::before, *::after {
  margin: 0;               // Elimina márgenes por defecto
  padding: 0;              // Elimina relleno por defecto
  box-sizing: border-box; // Incluye padding y border dentro del width/height
}

// Estilos básicos del <html>
html {
  scroll-behavior: smooth; // Desplazamiento suave al hacer scroll (por ejemplo, con anchors)
  font-size: 100%;         // Usa el tamaño de fuente por defecto del navegador (16px normalmente)
}

// Medios visuales (evita scrolls extraños y mantiene el contenido responsivo)
img, picture, video, canvas, svg {
  display: block;        // Evita que tengan espacio en línea como si fueran texto
  max-width: 100%;       // Hace que se ajusten al ancho del contenedor padre (responsivo)
}  

// Form elements – se heredan estilos para integrarse al diseño general
button, input, textarea, select {
  font: inherit;       // Usa la misma fuente que el texto normal
  border: none;        // Elimina bordes por defecto
  background: none;    // Elimina fondos nativos (útil en botones e inputs)
  outline: none;       // Elimina el contorno azul por defecto al enfocar (⚠️ luego reemplazar con estilo accesible)
}

// Listas sin viñetas o numeración
ul, ol {
    list-style: none;    // Elimina bullets y números
}

// Links sin subrayado y con color heredado
a {
  text-decoration: none; // Elimina el subrayado por defecto
  color: inherit;        // Hace que el color del link sea igual al del texto del contenedor
}

body {
  color: get-color(text, primary);
}